.top-logo{
    text-align: center;
}
.body-style{
  background-color: #655300;  
}
.content{
    text-align: center;
}
.navbar-content .navbar-collapse {  
    background-color: #705200;
}
.title-h1{
    background-color: #6b3904; 
}
.title-h2{
    background-color: a67900; 
}